body{
  font-family: sans-serif;
  margin: 0px;
  height: 100px;
  background-image: linear-gradient(to right, #7641EE , #D1307F);
  
}

#header{
  background: #141E46;
  width: 100%;
  position: fixed;
  top: 0px;
  border-radius: 0px 0px 9px 9px;
  
  height: 80px;
  box-shadow: 0px 0px 5px #6363637D;
}

#true{
  width: 94%;
  height: 460px;
  background: #FEFEFE;
  position: absolute;
  top: 110px;
  left: 3%;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #63636369;
}
.img{
  width: 115px;
  height: 115px;
  position: relative;
  top: 20px;
  border-radius: 50%;
  background: red;
  display: flex; 
  justify-content: center;
  margin: auto;
  background-image: linear-gradient(to right, #7641EE , #D1307F);
  box-shadow: 0px 0px 9px #7641EE8A;
}
.profileimg{
  width: 109px;
  height: 109px;
  border-radius: 50%;
  margin-top: 3.2px;
}

h3{
  text-align: center;
  margin-top: 44px ;
  font-size: 24px;
  font-family: cursive;
  background-image: url('Screenshot_٢٠٢٤٠٦٠٦_١٦٣٣٢٦_Spck Editor.jpg');
  color: transparent;
  -webkit-background-clip: text;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#txtlocation5{
  text-align: center;
  color: #73838E;
  font-size: 14px;
  margin-top: 33px;
}
.locationsvg{
  width: 14.9px;
  fill: #73838E;
  margin-top: 1px;
}


h5{
  text-align: center;
  font-size: 17px;
  font-weight: 6000;
  color: #73838E;
  margin: -2px;
}

#social{
  display: flex;
  justify-content: space-around;
}
.faceicon{
  margin-top: 30px;
  width: 55px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(16, 32, 252, 0.45));
}
.insta{
  margin-top: 30px;
  width: 55px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(196, 27, 28, 0.45));
}
#whatsapp{
  margin-top: 30px;
  width: 55px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(27, 196, 54, 0.45));
}


.menu{
  width: 50px;
  position: absolute;
  top: 15px;
  right: 13px;
  
}
#menush{
  width: 93%;
  position: fixed;
  left:3.5%;
  background: #1A2130;
  top: 90px;
  border-radius: 10px;
  height: 250px;
  z-index: 1;
  display: none;
}

#exit{
  color: white;
  margin: 20px;
}
.iconexit{
  width: 17px;
  fill: white;
}
#icon{
  margin: 20px;
}

#icon > h4{
  color: red;
  margin-top: 26.5px;
  font-size: 22px;
  color: #FFFFFF;
  margin-left: 10px;
  text-shadow: 0px 0px 5px #1212138C;
}
.menutxt1{
  text-align: center;
  color: white;
  padding-top: 10px;
  
}




.senddata{
  background: #FEFEFE;
  width: 95%;
  margin: auto;
  height: 400px;
  
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  top:575px;
  
}

.inp1{
  margin-top: 20px;
}
input{
  outline: none;
  margin-top: 60px;
  background: #73838E;
  width: 70%;
  left: 15%;
  
  border: solid 0px #E8E8E8;
  position: relative;
  height: 32px;

  border-radius: 6px;
  background: #141E46;
box-shadow: 0px 0px 5px #303146;
  
}

input::placeholder{
  position: relative;
  left: 10px;
  color: white;
}
#buttonsub{
  z-index: 1;
  background: #006769;
  color: white;
  border-radius: 4px;
  position: relative;
  width: 72%;
left: 14.5%;
  
  
  margin: auto;
  top: 40px;
  margin: auto;
  height: 30px;
  border: 0px transparent solid;
}

.textformdata{
  color: #73838E;
  text-align: center;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 600;
}

input:hover{
  border: solid 1.5px #2B4EC2B0;
  box-shadow: 0px 2px 10px #1B3AA259;
}
